body,
html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  text-align: center;
}
label,
input,
button {
  width: 100%;
  display: block;
}

input {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: auto;
  margin-top: 10px;
  align-self: center;
}

.li-class {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li .edit-button {
  padding: 5px 10px;
  margin-right: 20px;
  cursor: pointer;
}

.remove-button {
  padding: 5px 10px;
  cursor: pointer;
}
